In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv', usecols=['date', 'country', 'store', 'product', 'num_sold'])

In [3]:
df.shape

(26298, 5)

In [4]:
df.head()

         date  country       store         product  num_sold
0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [5]:
df.head(50)

          date  country       store         product  num_sold
0   2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1   2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2   2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3   2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4   2015-01-01  Finland  KaggleRama      Kaggle Hat       911
5   2015-01-01  Finland  KaggleRama  Kaggle Sticker       283
6   2015-01-01   Norway  KaggleMart      Kaggle Mug       526
7   2015-01-01   Norway  KaggleMart      Kaggle Hat       906
8   2015-01-01   Norway  KaggleMart  Kaggle Sticker       250
9   2015-01-01   Norway  KaggleRama      Kaggle Mug      1005
10  2015-01-01   Norway  KaggleRama      Kaggle Hat      1461
11  2015-01-01   Norway  KaggleRama  Kaggle Sticker       395
12  2015-01-01   Sweden  KaggleMart      Kaggle Mug       440
13  2015-01-01   Sweden  KaggleMart      Kaggle Hat       624
14  2015-01-01   Sweden  KaggleMart  Kaggle Sticker       175
15  2015-01-01   Sweden  KaggleRama      Kaggle Mug       706
16  2015-01-01   Sweden  KaggleRama      Kaggle Hat      1195
17  2015-01-01   Sweden  KaggleRama  Kaggle Sticker       324
18  2015-01-02  Finland  KaggleMart      Kaggle Mug       318
19  2015-01-02  Finland  KaggleMart      Kaggle Hat       493
20  2015-01-02  Finland  KaggleMart  Kaggle Sticker       127
21  2015-01-02  Finland  KaggleRama      Kaggle Mug       544
22  2015-01-02  Finland  KaggleRama      Kaggle Hat       794
23  2015-01-02  Finland  KaggleRama  Kaggle Sticker       249
24  2015-01-02   Norway  KaggleMart      Kaggle Mug       538
25  2015-01-02   Norway  KaggleMart      Kaggle Hat       845
26  2015-01-02   Norway  KaggleMart  Kaggle Sticker       237
27  2015-01-02   Norway  KaggleRama      Kaggle Mug       949
28  2015-01-02   Norway  KaggleRama      Kaggle Hat      1446
29  2015-01-02   Norway  KaggleRama  Kaggle Sticker       415
30  2015-01-02   Sweden  KaggleMart      Kaggle Mug       384
31  2015-01-02   Sweden  KaggleMart      Kaggle Hat       572
32  2015-01-02   Sweden  KaggleMart  Kaggle Sticker       155
33  2015-01-02   Sweden  KaggleRama      Kaggle Mug       653
34  2015-01-02   Sweden  KaggleRama      Kaggle Hat       986
35  2015-01-02   Sweden  KaggleRama  Kaggle Sticker       293
36  2015-01-03  Finland  KaggleMart      Kaggle Mug       360
37  2015-01-03  Finland  KaggleMart      Kaggle Hat       535
38  2015-01-03  Finland  KaggleMart  Kaggle Sticker       141
39  2015-01-03  Finland  KaggleRama      Kaggle Mug       579
40  2015-01-03  Finland  KaggleRama      Kaggle Hat       843
41  2015-01-03  Finland  KaggleRama  Kaggle Sticker       265
42  2015-01-03   Norway  KaggleMart      Kaggle Mug       614
43  2015-01-03   Norway  KaggleMart      Kaggle Hat       930
44  2015-01-03   Norway  KaggleMart  Kaggle Sticker       254
45  2015-01-03   Norway  KaggleRama      Kaggle Mug      1029
46  2015-01-03   Norway  KaggleRama      Kaggle Hat      1631
47  2015-01-03   Norway  KaggleRama  Kaggle Sticker       451
48  2015-01-03   Sweden  KaggleMart      Kaggle Mug       420
49  2015-01-03   Sweden  KaggleMart      Kaggle Hat       630

In [6]:
df.describe()

           num_sold
count  26298.000000
mean     387.533577
std      266.076193
min       70.000000
25%      190.000000
50%      315.000000
75%      510.000000
max     2884.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      26298 non-null  object
 1   country   26298 non-null  object
 2   store     26298 non-null  object
 3   product   26298 non-null  object
 4   num_sold  26298 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [8]:
df.isnull().values.any()

False

In [9]:
df.country.value_counts()

Finland    8766
Norway     8766
Sweden     8766
Name: country, dtype: int64

In [10]:
df.store.value_counts()

KaggleMart    13149
KaggleRama    13149
Name: store, dtype: int64

# EDA

In [11]:
df.groupby('product').count()

                date  country  store  num_sold
product
Kaggle Hat      8766     8766   8766      8766
Kaggle Mug      8766     8766   8766      8766
Kaggle Sticker  8766     8766   8766      8766

In [12]:
df.date = pd.to_datetime(df.date)

# F.E.

I will remove the dates and on it's place add the respective days and months

In [13]:
df['month'] = df['date'].dt.month

In [14]:
df['day'] = df['date'].dt.day

In [15]:
df.head()

        date  country       store         product  num_sold  month  day
0 2015-01-01  Finland  KaggleMart      Kaggle Mug       329      1    1
1 2015-01-01  Finland  KaggleMart      Kaggle Hat       520      1    1
2 2015-01-01  Finland  KaggleMart  Kaggle Sticker       146      1    1
3 2015-01-01  Finland  KaggleRama      Kaggle Mug       572      1    1
4 2015-01-01  Finland  KaggleRama      Kaggle Hat       911      1    1

In [16]:
df.drop(axis=1, columns=['date'])

       country       store         product  num_sold  month  day
0      Finland  KaggleMart      Kaggle Mug       329      1    1
1      Finland  KaggleMart      Kaggle Hat       520      1    1
2      Finland  KaggleMart  Kaggle Sticker       146      1    1
3      Finland  KaggleRama      Kaggle Mug       572      1    1
4      Finland  KaggleRama      Kaggle Hat       911      1    1
...        ...         ...             ...       ...    ...  ...
26293   Sweden  KaggleMart      Kaggle Hat       823     12   31
26294   Sweden  KaggleMart  Kaggle Sticker       250     12   31
26295   Sweden  KaggleRama      Kaggle Mug      1004     12   31
26296   Sweden  KaggleRama      Kaggle Hat      1441     12   31
26297   Sweden  KaggleRama  Kaggle Sticker       388     12   31

[26298 rows x 6 columns]

In [17]:
df = pd.get_dummies(columns=['country', 'store', 'product'], data=df)

In [18]:
df.head()

,date,num_sold,month,day,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
0,2015-01-01,329,1,1,1,0,0,1,0,0,1,0
1,2015-01-01,520,1,1,1,0,0,1,0,1,0,0
2,2015-01-01,146,1,1,1,0,0,1,0,0,0,1
3,2015-01-01,572,1,1,1,0,0,0,1,0,1,0
4,2015-01-01,911,1,1,1,0,0,0,1,1,0,0

In [19]:
df.drop(axis=1 , inplace=True, columns=['month', 'day', 'date'])

In [20]:
df.head()

,num_sold,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
0,329,1,0,0,1,0,0,1,0
1,520,1,0,0,1,0,1,0,0
2,146,1,0,0,1,0,0,0,1
3,572,1,0,0,0,1,0,1,0
4,911,1,0,0,0,1,1,0,0

# Data Splitting

In [21]:
X = df.drop(axis=1, columns=['num_sold'])
y = df.num_sold

In [22]:
from sklearn.model_selection import cross_val_score, train_test_split, KFold, GridSearchCV, RandomizedSearchCV

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

from sklearn.metrics import r2_score, accuracy_score, classification_report, confusion_matrix

In [23]:
kfold = KFold(n_splits=10, shuffle=True)

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

In [25]:
lr = LinearRegression()
rfr = RandomForestRegressor()
dtr = DecisionTreeRegressor()
svr = SVR()
xgr = XGBRegressor()

In [26]:
score = []
models = ['lr', 'rfr', 'dtr', 'svr', 'xgr']
for model in models:
    s = cross_val_score(estimator=lr, X=x_train, y=y_train, cv=kfold, n_jobs=-1, verbose=3)
    score.append(np.mean(s))
score

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    1.3s remaining:    3.1s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    1.4s remaining:    0.6s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    1.4s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.1s finished

[0.7350372150650544,
 0.7352851084049197,
 0.7351229493686214,
 0.7352370903394111,
 0.7357965776512208]

I am going to perform hyperparamter tuning on RFR and XGBR

### RFR

In [27]:
rfr= RandomForestRegressor(n_estimators=300, criterion='squared_error', random_state=20)

In [28]:
rfr.fit(x_train, y_train)

RandomForestRegressor(n_estimators=300, random_state=20)

In [29]:
y_pred = rfr.predict(x_test)

In [30]:
y_pred

array([ 178.90338125,  587.38674807,  592.0162259 , ...,  414.522825  ,
        587.38674807, 1042.713498  ])

In [31]:
r2_score(y_test, y_pred)

0.8070425192754739

### XGR

In [32]:
xgr = XGBRegressor()

In [33]:
learning_rate = [0.05,0.1,0.2,0.3,0.35,0.4,0.45,0.5,0.55]
gamma = [0.1,0.2,0.3,0.4,0.5,0.6]

In [34]:
random = RandomizedSearchCV(estimator=xgr, param_distributions={'learning_rate':learning_rate,
                                                                'gamma':gamma},
                            n_iter=10, cv=3, verbose=1, n_jobs=-1)

In [35]:
random.fit(x_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

RandomizedSearchCV(cv=3,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None,
                                          enable_categorical=False, gamma=None,
                                          gpu_id=None, importance_type=None,
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n_jobs=None,
                                          num_parallel_tree=None,
                                          predictor=None, random_state=None,
                                          reg_alpha=None, reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   n_jobs=-1,
                   param_distributions={'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6],
                                        'learning_rate': [0.05, 0.1, 0.2, 0.3,
                                                          0.35, 0.4, 0.45, 0.5,
                                                          0.55]},
                   verbose=1)

In [36]:
random.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0.4, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.5, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [37]:
random.best_score_

0.8038868112924159

In [38]:
xgr = XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0.4, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.65, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=np.nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [40]:
xgr.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0.4, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.65, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [41]:
y_pred_xgr = xgr.predict(x_test)

In [42]:
y_pred_xgr

array([ 178.88812,  587.0622 ,  591.93427, ...,  414.5439 ,  587.0622 ,
       1042.4773 ], dtype=float32)

In [43]:
r2_score(y_test, y_pred_xgr)

0.8070628285705411

## I AM GOING TO USE XGBR FOR MY TEST DATA (For Kaggle)

In [44]:
df_test = pd.read_csv('test.csv', usecols=['country', 'store', 'product', 'row_id'])

In [45]:
df_test.head()

   row_id  country       store         product
0   26298  Finland  KaggleMart      Kaggle Mug
1   26299  Finland  KaggleMart      Kaggle Hat
2   26300  Finland  KaggleMart  Kaggle Sticker
3   26301  Finland  KaggleRama      Kaggle Mug
4   26302  Finland  KaggleRama      Kaggle Hat

In [46]:
df_test.isnull().values.any()

False

In [47]:
X = df_test.drop(axis=1, columns=['row_id'])

In [48]:
X = pd.get_dummies(data=X)

In [49]:
X.head()

,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
0,1,0,0,1,0,0,1,0
1,1,0,0,1,0,1,0,0
2,1,0,0,1,0,0,0,1
3,1,0,0,0,1,0,1,0
4,1,0,0,0,1,1,0,0

In [51]:
prediction = xgr.predict(X)
prediction

array([204.34923, 361.75735, 103.32744, ..., 414.5439 , 729.8233 ,
       208.02173], dtype=float32)

In [52]:
prediction = pd.Series(np.ceil(prediction))
prediction

0       205.0
1       362.0
2       104.0
3       357.0
4       630.0
        ...
6565    418.0
6566    120.0
6567    415.0
6568    730.0
6569    209.0
Length: 6570, dtype: float32

In [53]:
submit = pd.concat([df_test.row_id, prediction], axis=1)

In [54]:
submit.columns = ['row_id', 'num_sold']

In [55]:
submit

      row_id  num_sold
0      26298     205.0
1      26299     362.0
2      26300     104.0
3      26301     357.0
4      26302     630.0
...      ...       ...
6565   32863     418.0
6566   32864     120.0
6567   32865     415.0
6568   32866     730.0
6569   32867     209.0

[6570 rows x 2 columns]

In [56]:
submit.to_csv('submit_1.csv', index=False)

In [57]:
submit.num_sold.mean()

388.16666

In [58]:
submit.num_sold.std()

239.61494

[CV] END ................................ score: (test=0.726) total time=   0.0s
[CV] END ................................ score: (test=0.754) total time=   0.0s
[CV] END ................................ score: (test=0.739) total time=   0.0s
[CV] END ................................ score: (test=0.743) total time=   0.0s
[CV] END ................................ score: (test=0.738) total time=   0.0s
[CV] END ................................ score: (test=0.734) total time=   0.0s
[CV] END ................................ score: (test=0.732) total time=   0.0s
[CV] END ................................ score: (test=0.735) total time=   0.0s
[CV] END ................................ score: (test=0.750) total time=   0.0s
[CV] END ................................ score: (test=0.750) total time=   0.0s
[CV] END ................................ score: (test=0.731) total time=   0.0s
[CV] END ................................ score: (test=0.745) total time=   0.0s
[CV] END ................................ score: (test=0.739) total time=   0.0s
[CV] END ................................ score: (test=0.749) total time=   0.0s
[CV] END ................................ score: (test=0.737) total time=   0.0s
[CV] END ................................ score: (test=0.738) total time=   0.0s
[CV] END ................................ score: (test=0.713) total time=   0.0s
[CV] END ................................ score: (test=0.713) total time=   0.0s
[CV] END ................................ score: (test=0.711) total time=   0.0s
[CV] END ................................ score: (test=0.705) total time=   0.0s
[CV] END ................................ score: (test=0.734) total time=   0.0s
[CV] END ................................ score: (test=0.754) total time=   0.0s
[CV] END ................................ score: (test=0.716) total time=   0.0s
[CV] END ................................ score: (test=0.721) total time=   0.0s
[CV] END ................................ score: (test=0.734) total time=   0.0s
[CV] END ................................ score: (test=0.743) total time=   0.0s
[CV] END ................................ score: (test=0.738) total time=   0.0s
[CV] END ................................ score: (test=0.732) total time=   0.0s
[CV] END ................................ score: (test=0.708) total time=   0.0s
[CV] END ................................ score: (test=0.757) total time=   0.0s
[CV] END ................................ score: (test=0.735) total time=   0.0s
[CV] END ................................ score: (test=0.731) total time=   0.0s
[CV] END ................................ score: (test=0.748) total time=   0.0s
[CV] END ................................ score: (test=0.766) total time=   0.0s
[CV] END ................................ score: (test=0.719) total time=   0.0s
[CV] END ................................ score: (test=0.749) total time=   0.0s
[CV] END ................................ score: (test=0.722) total time=   0.0s
[CV] END ................................ score: (test=0.747) total time=   0.0s
[CV] END ................................ score: (test=0.721) total time=   0.0s
[CV] END ................................ score: (test=0.750) total time=   0.0s
[CV] END ................................ score: (test=0.744) total time=   0.0s
[CV] END ................................ score: (test=0.722) total time=   0.0s
[CV] END ................................ score: (test=0.740) total time=   0.0s
[CV] END ................................ score: (test=0.735) total time=   0.0s
[CV] END ................................ score: (test=0.761) total time=   0.0s
[CV] END ................................ score: (test=0.736) total time=   0.0s
[CV] END ................................ score: (test=0.719) total time=   0.0s
[CV] END ................................ score: (test=0.741) total time=   0.0s
[CV] END ................................ score: (test=0.714) total time=   0.0s
[CV] END ................................ score: (test=0.744) total time=   0.0s